<h1>About CheerUps!</h1>

<div id="about">
  <h3>Thanks for visiting us!  CheerUps are uplifting messages you can create when you have positivity to share or turn to when you need motivation or a virtual hug.</h3>

  <h3>When you are having a bad day, or maybe just a Monday, scroll through your CheerUps feed for a variety of cheer, or search by tags that match your mood.</h3>

  <h3>Whether you have words of wisdom, an inspirational photo, or maybe a sweet meme to share, just post it by creating a new CheerUp! Don't forget to tag your CheerUp so people who are looking for CheerUps specific to a certain theme can find it!  Your CheerUp can have as many tags as you think fit.</h3>

  <h3>Like all the CheerUps you fancy, and we'll be sure to save them for you so you can revisit them whenever you please.</h3>

  <h3>If you ever get lost, just click on our CheerUp smile in the top left-hand corner to return to the homepage.</h3>
</div>
