
<form class="newCheerupForm" action="/cheerup" method="post">
  <label for="content"><h3>Write your CheerUp!</h3></label>
  <input type="text" name="content" placeholder="Note: Maximum of 140 charactesr">

  <label for="tag">Tag it!</label>
  <input type="text" name="tag" placeholder="Use popular tags like 'Monday' or 'Perspective', or start a new tag!">

  <button class="btn">Create</button>
</form>
