<form class="newCheerupForm" action="/cheerup" method="post">
  <label for="image"><h3>Post your CheerUp!</h3></label>
  <input type="text" name="image" placeholder="Enter URL here to link your image">
  <label for="tag">Tag it!</label>
  <input type="text" name="tag" placeholder="Use popular tags like 'Monday' or 'Perspective', or start a new tag!">
  <button class="btn">Create</button>
</form>
