<form action="/cheerup" method="post">
  <label for="content">Make your Cheerup...</label>

  <label for="image">..or a picture a worth a 1000 words</label>
  <input type="text" name="image">

  <label for="tag">Tag it!</label>
  <input type="text" name="tag">

  <button>Create</button>
</form>

<form action="/">
  <button>Back to homepage</button>
</form>
