<p>Note: Maximum of 140 characters</p>
<form action="/cheerup" method="post">
  <label for="content">Write a Cheerup...</label>
  <input type="text" name="content">

  <label for="tag">Tag it!</label>
  <input type="text" name="tag">

  <button>Create</button>
</form>

<!-- <% if @error != [] %>
<p><%= @error %></p>
<%end %> -->
