<h1>Preview</h1>

<h3>Thanks for contributing to CheerUps!</h3>

  <div class="displayItem">
  <%if @cheerup.content.present?%>

      <div class="displayContent">
        <h2><%=@cheerup.content%></h2>
      </div>
    <%else %>
      <div class="displayContent">
        <img src="<%=@cheerup.image%>" alt="">
      </div>
    <%end%>
      <div class="displayDeets">
        <div class="displayTag">
      <% @cheerup.tags.each do |tag|  %>
      <a href="/search/tag?tag=<%=tag.theme%>"><i class="fa fa-tags" aria-hidden="true"></i><%=tag["theme"]%></a>
      <%end%>
        </div>
    </div>

  </div>

  <h3>You may edit or add tags to your CheerUp from the My CheerUps! page.</h3>
