<div id="displayCheerup">

  <%if @cheerup.content.present?%>
    <h2><%=@cheerup.content%></h2>
  <%else %>
    <img src="<%=@cheerup.image%>" alt="">
  <%end%>

    <form action="/addtag/<%=@cheerup.id%>" method="post">
      <input type="hidden" name="_method" value="put">

      <input type="text" name="tag" placeholder="add a tag!">
      <button>tag it!</button>
    </form>

      <% @cheerup.tags.each do |tag|  %>
      <button><%= tag["theme"] %></button>
      <%end%>

</div>

<form action="/">
  <button>Back to homepage</button>
</form>
