<div id="displayCheerup">
  <img src="<%= @cheerup.image%>" alt="">
  <p><%=@cheerup.content%></p>


    <form action="/addtag/<%=@cheerup.id%>" method="post">
      <input type="hidden" name="_method" value="put">

      <input type="text" name="tag" placeholder="add a tag!">
      <button>tag it!</button>
    </form>

      <% @cheerup.tags.each do |tag|  %>
      <button><%= tag["theme"] %></button>
      <%end%>

</div>
