<div class="editItem">
<form action="/cheerup/<%=@cheerup.id%>" method="post">
  <input type="hidden" name="_method" value="put">
  <label for=""><h3>Change it up</h3></label>

  <% if @cheerup.content.present?%>
    <input type="text" name="content" value="<%= @cheerup.content%>">
  <% else %>
    <input type="text" name="image" value="<%= @cheerup.image%>">
  <%end%>

  <button>Update</button>
  </form>
  <div class="editTags">

    <form action="/addtag/<%=@cheerup.id%>" method="post">
      <input type="hidden" name="_method" value="put">
      <input type="text" name="tag" placeholder="Add another tag!">
      <button>Add this tag</button>
    </form>
</div>

</div>
