<!-- <h1>it works </h1> -->

<!-- <p><%=@cheerup.id%></p> -->

<form action="/cheerup/<%=@cheerup.id%>" method="post">
  <input type="hidden" name="_method" value="put">
  <label for="">Change it up</label>

  <% if @cheerup.content.present?%>
    <input type="text" name="content" value="<%= @cheerup.content%>">
  <% else %>
    <input type="text" name="image" value="<%= @cheerup.image%>">
  <%end%>

  <button>Update</button>


</form>
