<h1>it works </h1>

<p><%=@cheerup.id%></p>

<form action="/cheerup/<%=@cheerup.id%>" method="post">
  <input type="hidden" name="_method" value="put">
  <label for="">inspirational words</label>
  <input type="text" name="content" value="<%= @cheerup.content%>">

  <label for="">image</label>
  <input type="text" name="image" value="<%= @cheerup.image%>">

  <button>update</button>


</form>
