<h1>Error</h1>

<h3>Oh no, we  don't have any CheerUps for this tag, but we think its a great idea... </h3>

<h3>Why not create a CheerUp using this tag to activate it!</h3>

<form action="/cheerup/new">
  <button class="btn">Create CheerUp!</button>
</form>
