<h1>Cheerups!</h1>

<% if logged_in?%>
  <form action="/cheerup/new">
    <input type="hidden">
    <button>Create a Cheerup!</button>
  </form>

  <form action="/mycheerups/">
    <input type="hidden">
    <button>My Cheerups!</button>
  </form>
<%end%>

<form action="/search/tag/" method="get">
  <input type="text" placeholder="Search by Tag!" name="tag">
  <button>search</button>
</form>


<div class = "cheerupList">
<% @cheerup.each do |cheerup|  %>
  <div class="cheerupItem">
    <%if cheerup.content == ''%>
      <img src="<%=cheerup.image%>" alt="">
    <%else %>
      <h2><%=cheerup.content%></h2>
    <% cheerup.tags.each do |tag| %>
      <a href='/search/tag'><%=tag.theme%></a>
    <%end%>
    <%end%>
  </div>
<%end%>

</div>
