<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Good Vibes</title>
  <link rel='stylesheet' href='/stylesheets/main.css'>
</head>
<body>
  <header>
    <% if logged_in?%>
     <h3>Hi <%= current_user.name %></h3>
        <form action="/session" method="post">
        <input type="hidden" name="_method" value="delete">
        <button>log out</button>
    </form>

<%else%>

  <form action="/session" method="post">
    <label for="email">email</label>
    <input type="text" name="email">

    <label for="password">password</label>
    <input type="password" name="password">

    <button>login</button>
  </form>

  <form action="/session/new" method="get">
    <button>Become a member</button>
  </form>

  <%end%>
  </header>
  <div id="wrapper">
  <%= yield %>
</div>
</body>
