<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Good Vibes</title>
  <link rel='stylesheet' href='/stylesheets/main.css'>
  <script src="https://use.fontawesome.com/faed1c6666.js"></script>
  <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
  <link rel='shortcut icon' href='https://pbs.twimg.com/profile_images/1854751598/happy_logo_400x400.png' type='image/x-icon'/ >
</head>
<body>
  <header>
    <h1>CheerUps!</h1>
    <a id="logo" href="/"><img src="https://pbs.twimg.com/profile_images/1854751598/happy_logo_400x400.png" alt=""></a>
  <% if logged_in?%>
     <nav>
       <ul>
        <li><h3 id="greeting">Hi, <%= current_user.name %>!</h3></li>
        <li><form action="/about">
           <button>About</button>
        </form></li>
        <li><form action="/session" method="post">
          <input type="hidden" name="_method" value="delete">
          <button>Logout</button>
        </form></li>
        <li><form action="/cheerup/new">
          <input type="hidden">
          <button>Create a CheerUp!</button>
        </form></li>

        <li><form action="/mycheerups/">
          <input type="hidden">
          <button>My Cheerups!</button>
        </form></li>

        <li><form action="/mylikes/">
          <input type="hidden">
          <button>My Liked CheerUps!</button>
        </form></li>
        <li><form id ="searchTag" action="/search/tag" method="get">
          <input type="text" placeholder="Search by Tag!" name="tag">
          <button>search</button>
        </form></li>
      </ul>
    </nav>
  <%else%>
  <nav>
    <ul>
    <li><form action="/login" method="get">
      <button>Login</button>
    </form></li>
    <li><form action="/session/new" method="get">
      <button>Join CheerUps!</button>
    </form></li>
  </ul>
    </nav>
  <%end%>

  </header>

  <div id="wrapper">
    <%= yield %>
  </div>

  <footer>
    <ul>
      <li>&copy; Maggie McCain</li>
      <li><img src="https://pbs.twimg.com/profile_images/1854751598/happy_logo_400x400.png" alt=""></li>
      <li>General Assembly Project</li>
    </ul>
  </footer>
</body>
