
<form id ="loginForm" action="/session" method="post">
  <label for="email">email</label>
  <input type="text" name="email">
  <label for="password">password</label>
  <input type="password" name="password">
  <button>Login</button>
</form>
