<h1>We're glad to see you again!</h1>

<form action="/session" method="post">
  <label for="email">email</label>
  <input type="text" name="email">

  <label for="password">password</label>
  <input type="password" name="password">

  <button>login</button>

</form>
