<h2>create a cheerup!</h2>

<form action="/cheerup" method="post">
  <label for="content">Write a Cheerup...</label>
  <input type="text" name="content">

  <label for="image">..or a picture a worth a 1000 words</label>
  <input type="text" name="image">

  <label for="tag">Tag it!</label>
  <input type="text" name="tag">

  <button>Create</button>


</form>
