<h1>Create a CheerUp!</h2>

<h3>Instructions: You can make a CheerUp one of two ways: by write a unique message/quote or sharing an image. </h3>

<h3>Which way are you leaning?</h3>


<form action="/cheerup/new/text">

  <input type="hidden">
  <button class="btn">I'll use my words </button>

</form>

<h3>Or</h3>

<form action="/cheerup/new/image">

  <input type="hidden">
  <button class="btn">Picture is worth a thousand words </button>

</form>
