<h2>create a cheerup!</h2>

<p>Instructions: You can make a cheerup one of two ways: by sharing your own unique message or sharing an image.  Which way are you leaning?</p>


<form action="/cheerup/new/text">

  <input type="hidden">
  <button>I'll use my words </button>

</form>


<form action="/cheerup/new/image">

  <input type="hidden">
  <button>Picture is worth a thousand words </button>

</form>
