<div class="tagList">

<h1><%=@tag.theme%></h1>
  <% @tag.cheerups.each do |cheerup| %>
    <div class="tagItem">
      <img src="<%=cheerup["image"]%>" alt="">
      <p><%=cheerup["content"]%></p>
    </div>
  <%end%>

</div>
