* {
  margin: 0 auto;
  text-align: center;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  background: #eff;
}

#about > * {
  text-align: left;
  margin-left: 0;
}

#about {
  width: 60%;
}

header > * {
  display: inline-block;
}

.newCheerupForm > * {
  display: block;
  margin: 2% auto;
}

.newCheerupForm > input, .editItem input {
  padding: 10px;
  width: 60%;
}

header {
  text-align: left;
  /*position: fixed;
  top:0;
  left: 0;*/
}

.likeBtn {
  border: none;
  /*background: rgb(70, 166, 20);*/
  background: inherit;
  /*width: 10%;*/
  font-size: 1em;
}

h4 {
  padding-right: 10px;
}

.cheerupLike > * {
  display: inline-block;
}

header img {
  width: 15%;
  float: left;
}

#searchTag > * {
  display:inline-block;
}

#searchTag button {
  width: 5% !important;
}

nav form {
  border-left: 5px solid #666;
}

nav ul {
  list-style: none;
  text-align: left;
  padding-left: 0;
}

nav li {
  display: inline-block;
}

nav button {
  background: inherit;
  border:none;
  width: 100%;
  cursor: pointer;
  padding: 10px 50px 10px 15px;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
}

nav button:hover {
  border-left: 5px solid #000;
  padding-left: 5px;
  background: #4D586E;
  color: white;
}

nav {
  text-align: left;
  margin: 5px;
  background: #fff;
}

.cheerupList, .tagList, .displayCheerup {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
}

.displayDeets {
  width: 100%;
  height: 20%;
  position: absolute;
  bottom: 0;
  visibility: hidden;
  background: rgba(77, 88, 151, .5)
}

.displayContent {
  width: 100%;
  height: 100%;
  background: #4D586E;
  color: white;
}

.displayItem {
  width: 30%;
  height: 30vw;
  border: 2px solid black;
  position: relative;
  margin-top: 3%;
}

.displayItem input {
  padding: 10px;
  width: 60%;
}

.displayItem button, .editItem button{
  padding: 10px;
  background: rgb(70, 166, 20);
  border: none;
  border-radius: 5px;
  margin: 20px auto;
  font-size: 1em;
}

.displayItem button:hover, .editItem button:hover{
  background: rgba(70, 166, 20, 0.5);
}

.displayTag {
  position: absolute;
  bottom: 0;
}

.displayTag > * {
  color: black;
  display: inline-block;
}

.displayItem:hover .displayDeets {
  visibility: visible;
}

.cheerupItem, .tagItem {
  width: 30%;
  height: 30vw;
  border: 2px solid black;
  margin: 10px;
  position: relative;
}

.cheerupContent {
  width: 100%;
  height: 100%;
  background: #4D586E;
  color: white;
}

.cheerupDeets {
  width: 100%;
  height: 20%;
  position: absolute;
  bottom: 0;
  visibility: hidden;
  background: rgba(77, 88, 151, .8)
}

.cheerupTag > * {
  color: black;
}

.cheerupItem:hover .cheerupDeets {
  visibility: visible;
}

.cheerupItem:hover .cheerupButtons {
  visibility: visible;
}

.cheerupTag {
  position: absolute;
  bottom: 0;
}

.cheerupButtons > *{
  display: inline-block;
}

.cheerupButtons {
  visibility: hidden;
  position: absolute;
  top: 0;
}

/*.cheerupButtons {
  position: absolute;
  top: 0;
}*/

.cheerupLike {
  position: absolute;
  bottom: 0;
  right:0;
}

img {
  width: 100%;
  height: 100%;
}

.btn {
  padding: 20px;
  background: rgb(70, 166, 20);
  border: none;
  border-radius: 5px;
  margin: 20px auto;
  font-size: 1em;
}

.btn:hover {
  background: rgba(70, 166, 20, 0.5);
}

#wrapper h3 {
  margin: 2%;
}

.smallBtn {
  background: rgb(26, 60, 92);
  border: none;
  color: white;
  padding: 10px;
  transition: all .2s ease-in-out;
}

.smallBtn:hover {
  background: rgba(70, 166, 20, 0.8);
  transform: scale(1.2);
}
